<footer id="footer">
    <div class="container footer-container">
      <div class="row">
        <div class="col-md-3">
          <img class="logo" src="{{imageLg}}" alt="">
          <p>{{footer.name}}</p>
          <a href="#" class="app_download"><img src="{{footer.imageD}}" alt=""></a>
          <ul class="socials">
            {{#each socials}}
            <li><a href="{{url}}"><i class="{{class}}"></i></a></li>
            {{/each}}
          </ul>
        </div>
        

        <div class="col-md-2 col-md-offset-3 col-sm-4 col-xs-6 footer-links">
          <ul>
            {{#each footer.items}}
               {{#if @first}}
                     <li><p class="title">{{title}}</p></li>
                {{else}}
                     <li><a href="{{url}}">{{title}}</a></li>
                {{/if}} 
            {{/each}}
            
            
          </ul>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 footer-links">
          <ul>
           {{#each footer.items1}}
               {{#if @first}}
                     <li><p class="title">{{title}}</p></li>
                {{else}}
                     <li><a href="{{url}}">{{title}}</a></li>
                {{/if}} 
            {{/each}}
          </ul>
        </div>
        
        <div class="col-md-2 col-sm-4 col-xs-6 footer-links">
          <ul>
            {{#each footer.items2}}
               {{#if @first}}
                     <li><p class="title">{{title}}</p></li>
                {{else}}
                     <li><a href="{{url}}">{{title}}</a></li>
                {{/if}} 
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
    <div class="container copyright-container">
      <div class="row">
        <div class="col-md-6 text-left">
          <div class="more-info">
            
            {{footer.title}}<a href="{{footer.url}}">{{footer.image}}</a>
          </div>
        </div>
        <div class="col-md-6 text-right">
          
          <div class="made-by">{{footer.title}} <a href="{{footer.url}}" target="_blank"><img src="{{footer.image}}" alt=""></a></div>
        </div>
      </div>
    </div>
  </footer>

  <script src="js/jquery-2.1.4.min.js"></script> <!-- jQuery -->
  <script src="js/bootstrap.min.js"></script>  <!-- Bootstrap -->
  <script src="js/wow.min.js"></script>  <!-- wow -->
  <script src="js/jquery.magnific-popup.min.js"></script>  <!-- wow -->
  <script src="js/main.js"></script>  <!-- Main Script -->
</body>
</html>
